extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        //- added another object to the data.json (bio)
        h1 #{bio.name}
        p.lead.text-light
          | #{bio.title}.

        .portfolio-bio
          p #{bio.elevator_pitch}
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          each val in bio.skills
            li #{val}
        h6 Contact Info

        ul
          li #{bio.phone}
          li #{bio.email}

        a.button.expanded(href=`${bio.linkedIn_link}`) LinkedIn
        a.button.expanded(href=`${bio.github_link}`) GitHub
        a.button.expanded(href=`${bio.twitter_link}`) Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  